<div class="row">
  <div class="col s12 l11 m5">
    <div class="card-panel " [style.backgroundColor] = "'#F6F5F5'">
      <span class="black-text">
        <h3>Bem-vindo(a) a área Administrativa do sistema!</h3>
        <hr>
        <br/>
        Aqui você poderá gerenciar o acervo de mensagens que são exibidas para os visitantes do site. É possível cadastrar,
        editar e remover as mensagens.<br/>
        <br/>
        Também é disponibilizado uma área para gerenciar os temas que poderão ser usados para classificar as mensagens
        cadastradas.<br/>

      </span>
    </div>
  </div>
</div>
